.App {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top:80px;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
}

@media only screen and (max-width: 1440px) {
  .App {
    grid-template-columns:repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .App {
    grid-template-columns:repeat(2, 1fr);
  }
}

@media only screen and (max-width: 748px) {
  .App {
    grid-template-columns:1fr;
  }
}