.edit-window {
	position: fixed;
	width: 60%;
	height: 60%;
	top:20%;
	left:20%;
	border: 1px solid black;
	border-radius: 3px;
	background: #ffffffb5;
}

.formSection {
	padding: 10px;
}

.formSection input {
	padding:10px;
	margin: 5px;
	width:50%;
	border: 1px solid black;
	border-radius: 2px;
	font-size: 16px;
	letter-spacing: 1px;
}

.formSection label {
	display: block;
}

.outer {
	width:100vw;
	height:100vh;
	left:0;
	right:0;
	bottom:0;
	top: 0;
	background: #8080809e;
	position: fixed;
}

.close-button {
	position: absolute;
	top:0;
	right:0;
	width:20px;
	height:20px;
	text-align: center;
	background:red;
	padding: 5px;
	color: white;
	cursor: pointer;
}

#note {
	width:100%;
	float:left;
	height:100px;
	font-size: 16px;
	font-family: inherit;
}