.task {
	border: 1px solid black;
	position: relative;
	padding:10px;
	border-radius:2px;
	margin: 10px;

	box-sizing: border-box;
	transition: all 100ms;
}



.priority {
	position: absolute;
	right:0;
	bottom:0;
	display: flex;
	flex-direction: row;
}

.redRadio {
	background: red;
}

.yellowRadio {
	background: yellow;
}

.greenRadio {
	background: green;
}

.red {
	background: #ffa1a1;
}

.yellow {
	background: #ffff98;
}

.green {
	background: #83bf83;;
}

input[type="radio"] {
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 10px 10px;
	box-shadow: 0 0 5px 1px black;
}

input[type="radio"]:focus {
	outline: none;
}

.delete {
	position: absolute;
	top: 0;
	right: 0;
	height:20px;
	width: 20px;
	padding: 10px;
	font-size: 20px;
	cursor: pointer;
	color: red;
	text-shadow: 0px 0px 20px white;
}

.edit {
	padding: 10px;
	font-size: 20px;
	position: absolute;	
	top:0;
	left:0;	
}

.section-title {
	float: left;
	font-weight: bold;
	margin-right: 10px;
}

.section-data {
	

}

.section {
	width: 100%;
	float: left;
	margin: 5px 0;
}

.title {
	margin-top: 30px;
	text-align: center;
	margin-bottom: 5px;
}

.note {
	margin-bottom: 30px;
}